* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(193, 176, 162);
  font-family: "Open sans";
  background-color: white;
}
body main {
  min-height: 90vh;
}

.navbar .logoNavBar {
  height: 2rem;
}
.navbar .botonesNavegacion {
  justify-content: end;
}
.navbar a:hover {
  transform: scale(120%);
}
.navbar .tamanioTexto {
  font-size: 1.5rem;
}
.navbar .colorTexto,
.navbar .colorBorde {
  color: rgb(193, 176, 162);
}

.titulo {
  text-align: center;
}
.titulo__principalIndex {
  font-size: 8rem;
  font-weight: lighter;
  letter-spacing: -0.4rem;
  font-family: "Abril FatFace";
}
.titulo__secundarioIndex {
  font-size: 1.5rem;
  letter-spacing: 1rem;
  position: relative;
  top: -2rem;
  font-weight: lighter;
}
.titulo__tituloDePaginas {
  font-size: 4.5rem;
  font-weight: lighter;
  font-family: "Abril FatFace";
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.footer__copyright {
  background-color: rgb(193, 176, 162);
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 1rem;
  width: 100%;
}
.footer__copyright p {
  margin: 0;
}
.footer__logo img {
  height: 2rem;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentacion img {
  border-radius: 2rem;
  width: 80%;
}
.presentacion h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}
.presentacion p {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  width: 80%;
  margin: 0 auto;
}

.procesos {
  width: 90%;
  margin: 3rem auto;
  text-align: center;
}
.procesos img {
  width: 100%;
  border-radius: 2rem;
  aspect-ratio: 1;
}
.procesos h2 {
  font-size: 3rem;
  margin: 1rem;
}
.procesos p {
  font-size: 1.5rem;
}

.productos {
  text-align: center;
}
.productos__titulo {
  font-size: 3rem;
  color: white;
  text-align: center;
  background-color: rgb(193, 176, 162);
  font-weight: lighter;
  padding: 1rem;
  margin: 1rem 0;
}
.productos .row {
  column-gap: 2rem;
  margin: 2rem;
}
.productos__articulo {
  box-shadow: 0 0 2rem rgb(193, 176, 162);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.productos__articulo img {
  width: 100%;
  border-radius: 2rem;
}
.productos__articulo h3 {
  font-size: 2.5rem;
  margin: 1rem 0 0 0;
}
.productos__articulo p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
}
.productos__articulo button {
  width: 100%;
  border: none;
  color: white;
  background-color: rgb(193, 176, 162);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 1rem 0 0 0;
}

.mayorista {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mayorista img {
  width: 80%;
  border-radius: 2rem;
  margin: 1rem 0;
}
.mayorista__pedido {
  width: 80%;
  text-align: center;
}
.mayorista__pedido h2 {
  font-size: 3rem;
  margin: 1rem 0;
}
.mayorista__pedido p {
  font-size: 2rem;
  margin: 2rem 0;
}
.mayorista__pedido__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mayorista__pedido__formulario input {
  width: 100%;
  border: none;
  color: white;
  background-color: rgb(193, 176, 162);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 1rem 0 0 0;
}
.mayorista__pedido__formulario input[type=email] {
  color: rgb(193, 176, 162);
  background-color: white;
  border: 0.1rem solid rgb(193, 176, 162);
}
.mayorista__pedido__formulario textarea {
  width: 100%;
  height: 15rem;
  font-size: 1.5rem;
  border: 0.1rem solid rgb(193, 176, 162);
  border-radius: 1rem;
  color: rgb(193, 176, 162);
  background-color: white;
}
.mayorista__pedido__formulario ::placeholder {
  color: rgb(193, 176, 162);
  text-align: center;
}

.contacto {
  margin: 1rem 0;
}
.contacto h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}
.contacto__redes ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0;
}
.contacto__redes ul a {
  text-decoration: none;
  display: inline-block;
  color: rgb(193, 176, 162);
  font-size: 2rem;
}
.contacto__redes ul a:hover {
  transform: scale(120%);
}
.contacto__formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}
.contacto__formulario form textarea {
  height: 15rem;
  width: 90%;
  font-size: 1.5rem;
  border: 0.1rem solid rgb(193, 176, 162);
  border-radius: 1rem;
  color: rgb(193, 176, 162);
  background-color: white;
}
.contacto__formulario form ::placeholder {
  color: rgb(193, 176, 162);
  text-align: center;
}
.contacto__formulario form div {
  width: 90%;
}
.contacto__formulario form div input {
  width: 100%;
  border: none;
  color: white;
  background-color: rgb(193, 176, 162);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 1rem 0 0 0;
}
.contacto__formulario form div input[type=email] {
  color: rgb(193, 176, 162);
  background-color: white;
  border: 0.1rem solid rgb(193, 176, 162);
}

@media only screen and (min-width: 700px) {
  .contacto h2 {
    margin: 2rem;
  }
  .contacto__redes {
    text-align: center;
  }
  .contacto__redes ul {
    display: inline-block;
  }
  .contacto__redes ul a {
    margin: 1rem 2rem;
  }
}
@media only screen and (min-width: 900px) {
  /* index */
  .presentacion {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    margin: 4rem;
  }
  .presentacion p {
    width: 100%;
  }
  /* procesos */
  .container {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  .procesos {
    width: 95%;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
  /* productos */
  .productos .row {
    column-gap: 2rem;
  }
  .productos .container {
    position: relative;
    gap: 2rem;
  }
  .productos__articulo img {
    margin-bottom: 1rem;
  }
  .productos__articulo div {
    display: none;
  }
  .productos__articulo div h3 {
    font-size: 2vw;
  }
  .productos__articulo div p {
    font-size: 1.5vw;
  }
  .productos__articulo div button {
    font-size: 1rem;
  }
  .productos__articulo:hover > div {
    display: inline-block;
    position: absolute;
    top: 4rem;
    text-shadow: 0 0 2rem #000;
  }
  .productos__articulo:hover > img {
    opacity: 0.1;
  }
  /* mayorista */
  .mayorista {
    position: relative;
  }
  .mayorista img {
    position: absolute;
    opacity: 0.9;
    height: 100%;
    width: 90%;
  }
  .mayorista__pedido {
    position: relative;
  }
  .mayorista__pedido h2,
  .mayorista__pedido p {
    color: white;
    text-shadow: 0 0 0.7rem black;
  }
  .mayorista__pedido__formulario div {
    display: flex;
    width: 100%;
    column-gap: 1rem;
  }
  .mayorista__pedido__formulario div input {
    width: 50%;
  }
  /* contacto */
  .contacto__formulario form div {
    display: flex;
    width: 90%;
    column-gap: 1rem;
  }
  .contacto__formulario form input {
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
