.procesos {
    width: 80%;
    margin: 3rem auto;
}

.procesos img {
    width: 100%;
    border-radius: 2rem;
    aspect-ratio: 1;

}

.procesos h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.procesos p {
    font-size: 2rem;
    text-align: center;
}
