@media only screen and (min-width: 700px) {

    .contacto {
        h2 {
            margin: 2rem;
        }

        &__redes {
            text-align: center;

            ul {
                display: inline-block;

                a {
                    margin: 1rem 2rem;
                }
            }
        }
    }
}